/*versione desktop impostata su visuale nesthub max 1280*800*/

body{
   
    font-family:'roboto', sans-serif;
}
nav{background-color:#ffc017;}
.logo{padding-top:20px;
}
.menu{display:flex;}

.mArtwork{width:400px;
    height:500px;
}
.upperNav{
    height: 100px;
    padding-top: 20px;
    padding-right:4rem;
   
    display: flex;
    justify-content: space-evenly;
    gap:25rem;
    flex-wrap: wrap;
    align-content: center;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:#ffc017;
 z-index:10;
 border-bottom:0.5px solid black;
    transition: background-color 0.3s ease-in;
    
}
/*scrivo la classe da aggiungere all'evento scroll*/
.upperNav.scrolled {
    background-color: white;}

.upperNav ul {
    list-style-type: none;
    display:flex;
    flex-wrap:wrap;
    align-content:center;
}
.upperNav ul li{margin:0 15px;}

.upperNav button{
    background-color:#191919;
    color:white;
    border-radius:25px;
    height:50px;
    width:150px;
    border:none;
    font-family:'roboto',sans-serif;
    transition: background-color 0.3s ease-in;

    /*scrivo la classe da aggiungere all'evento scroll*/
}
.upperNav.scrolled .button {
    background-color: #1a8917; 
}
.lowerNav{display:flex;
justify-content:space-between;
padding-top:7rem;
height:300px;
border-top:1px solid black;
border-bottom:1px solid black;}

.leftPart{display:flex;
flex-direction:column;
justify-content:center;
position: relative;
    left: 5rem;
}

h1{    font-size: 3rem;
    margin-bottom: 1rem;}

    .leftPart p {line-height:1.2rem;
    margin-bottom:3rem;
font-size:1em;}

    .leftPart button{background-color:black;
    color:white;
border-radius:25px;
height:40px;
width:180px;}

svg{position:relative;
bottom:100px;}

.middlePart{margin:0 4rem;
margin-bottom:2rem;
padding-top:2rem;
}

.stella{padding-left:2px;}

.trending{display:flex;
    margin-left:-10px;
    align-items: center;
padding-top:1rem;}

 .lightning{height:3rem;
    width:3rem;
padding-right:1rem;}

.trending h2 {
    font-weight:bold;
    font-size:2em;
}
.article{width:33%;
    display:flex;
    flex-direction:column;
padding-top:2rem;
font-family:'roboto',sans-serif;}

#round-icon{
   
    height:2rem;
    width:2rem;
    border-radius:50%;
    background-image:url(./imgs/imgs/image01.jpeg);
    
}
.titleAndAuthor{display:flex;
flex-direction:column;
margin-left: 1.3rem;
padding-top:10px;
}

.number{    font-size: 3em;
    font-weight:800;
    color:grey;
    opacity:0.2;
    margin-left: -10px;}
    

.author{   position: relative;
    left: 40px;
    bottom: 20px;
    font-size: 0.9rem;
    font-weight:500;
}
h3{font-weight:bold;
font-size:1rem;}

.titleAndAuthor p{
    display:flex;
   
    margin-top: 0.5rem;
    font-size: 1rem;
    color: gray;
}
.scheda{display:flex;
margin-bottom:1rem;
width:fit-content;}

.author span{font-weight:300;}
#square-icon{
    height:2rem;
    width:2rem;
    border-radius:5px;
    background-image:url(./imgs/imgs/image03.jpeg);
    background-size:cover;
}
#round-icon2{
height:2rem;
width:2rem;
border-radius:50%;
background-image:url(./imgs/imgs/image02.png);
background-size:cover;}

#square-icon2{
    height:2rem;
    width:2rem;
    border-radius:5px;
    background-image:url(./imgs/imgs/image04.png);
    background-size:cover;
}
#square-icon3{height:2rem;
    width:2rem;
    border-radius:5px;
background-image:url(./imgs/imgs/image05.jpeg);
background-size:cover;}

#square-icon4{height:2rem;
    width:2rem;
    border-radius:5px;
background-image:url(./imgs/imgs/image06.png);
background-size:cover;}

article{display:flex;
flex-wrap:wrap;
justify-content:space-around;
}

#round-icon3{
    height:2rem;
    width:2rem;
    border-radius:50%;
background-image:url(./imgs/imgs/image07.jpeg);
background-size:cover;
}
h5{font-size:1.1rem;
font-weight:bold;}

.centralArticles{width:40%;
    margin-top:2.5rem;
    padding-bottom:5px;
}

.titleAndAuthor2{display:flex;
    flex-direction:column;
    margin-left: 1rem;
margin-bottom:2rem;
margin-top:2rem;
margin-right:4rem;
margin-left:4rem;
height:200px;}




.readingMinutes{display:flex;
gap:10px;
padding-bottom:2rem;}

#round-icon4{height:2rem;
    width:2rem;
    border-radius:50%;
background-image:url(./imgs/imgs/image09.jpeg);
background-size:cover;}

.titleAndAuthor2 p {
    font-size:0.9rem;
    color:grey;
    padding-top:0.5rem;
    line-height:1.2;
}



.titleAndAuthor2 button{
    background-color:rgba(145, 141, 141, 0.541);
    border-radius:20px;
    border:none;
    opacity:0.3;
    color:rgb(58, 55, 55);
    top: 4px;
    position: relative;
    padding: 7px;
}

#parteCentrale{border-top:1px solid rgba(128, 128, 128, 0.616);
display:flex;}

#immagine2{
    width:200px;
    height:100px;
    background-image:url(./imgs/imgs/image08.jpeg);
    background-size:cover;
    background-position:center;
    margin-bottom:2rem;
}

#immagine3{width:200px;
    height:100px;
    background-image:url(./imgs/imgs/image10.jpeg);
    background-size:cover;
    margin-bottom:2rem;

}

#bottoni{display:flex;
flex-direction:column;
flex-wrap:wrap;
justify-content: space-around;}

.foto{display:flex;
flex-direction:column;
justify-content:space-evenly;

position:relative;}

#bottoni button{width:25px;}

footer{border-top:1px solid gray; 
    margin-top:1rem;
    padding-top:1rem;
    display:flex;
    flex-wrap:wrap;
    
}

.discoveries{margin: 0 4rem;
    width:35%;
}

h6{font-size:1rem;
font-weight:bold;
margin-top:4rem;
margin-bottom:1rem;}

.themes{display:flex;
flex-wrap:wrap;
color:gray;

margin-right: 2rem;}

.themes div{border:0.2px solid rgba(128, 128, 128, 0.774);
width: fit-content;
padding:5px 15px;
margin:5px;
font-size:0.9rem;
}


footer div{width:fit-content;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
font-size:0.9rem;
color:gray;
}

#round-icon5{height:2rem;
    width:2rem;
    border-radius:50%;
background-image:url(./imgs/imgs/image11.jpeg);
background-size:cover;

}

#round-icon6{height:2rem;
    width:2rem;
    border-radius:50%;
background-image:url(./imgs/imgs/image13.png);
background-size:cover;}

#round-icon7{height:2rem;
    width:2rem;
    border-radius:50%;
background-image:url(./imgs/imgs/image15.jpeg);
background-size:cover;}

#round-icon8{height:2rem;
    width:2rem;
    border-radius: 50%;
    
background-image:url(./imgs/imgs/image19.jpeg);
background-position:center;
background-size:cover;
padding-bottom:33px;}

#square-icon5{height:2rem;
    width:2rem;
    border-radius:5px;
background-image:url(./imgs/imgs/image17.png);
background-size:cover;}

#immagine4{width:200px;
    height:100px;
    background-image:url(./imgs/imgs/image12.png);
    background-size:cover;
    margin-bottom:2rem;}

#immagine5{width:200px;
    height:100px;
    background-image:url(./imgs/imgs/image14.png);
    background-size:cover;
    margin-bottom:2rem;}

 #immagine6{width:200px;
    height:100px;
    background-image:url(./imgs/imgs/image16.jpg);
    background-size:cover;
    margin-bottom:2rem;}

#immagine7{width:200px;
    height:100px;
    background-image:url(./imgs/imgs/image18.jpeg);
    background-size:cover;
    margin-bottom:2rem;}

#immagine8{width:200px;
height:100px;
background-image:url(./imgs/imgs/image20.jpg);
background-size:cover;
margin-bottom:2rem;}


.stella{
display:inline-block;
vertical-align:bottom;}

.readingMinutes span{
    align-self: flex-end;
}

.readingMinutes .stella{
    position: relative;
    top: 5px;

}

.bookmark{width:20px;
height:20px;
position:relative;
right:15%;
top:8.5%
}

/*media queries - breakpoints: 576 mobile, 768 tablet, 1200 desktop*/

@media screen and (mihn-width:576px){
    
}